version: 2
updates:
  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "thursday"
      time: "09:00"
      timezone: "Europe/Oslo"
    commit-message:
      prefix: "[GitHub Action]"

  # Java
  - package-ecosystem: gradle
    directories:
      - /e2eTests
      - /buildSrc
      - /lib/clearinghouse
      - /lib/crypt4gh
      - /lib/tsd-file-api-client
      - /services/tsd-api-mock
      - /services/localega-tsd-proxy
    groups:
      all-modules:
        patterns:
          - "*"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
      timezone: "Europe/Oslo"
    commit-message:
      prefix: "[Java]"

    # Docker Java
  - package-ecosystem: docker
    directories:
      - /e2eTests
      - /services/tsd-api-mock
      - /services/localega-tsd-proxy
    schedule:
      interval: "weekly"
      day: "tuesday"
      time: "09:00"
      timezone: "Europe/Oslo"
    commit-message:
      prefix: "[Docker-Java]"

  # Go
  - package-ecosystem: gomod
    directories:
      - /services/mq-interceptor
      - /services/cega-mock
      - /cli/lega-commander
    groups:
      all-modules:
        patterns:
          - "*"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "09:00"
      timezone: "Europe/Oslo"
    commit-message:
      prefix: "[Go]"

    # Docker Go
  - package-ecosystem: docker
    directories:
      - /services/mq-interceptor
      - /services/cega-mock
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "09:00"
      timezone: "Europe/Oslo"
    commit-message:
      prefix: "[Docker-Go]"
