name: Check formatting

on:
  pull_request:
    branches:
      - main
    paths:
      - "lib/**"
      - "services/**"
      - "buildSrc/**"

jobs:
  check-formatting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "21"

      - name: Check formatting
        run: ./gradlew spotlessCheck
