name: Check Maven Credential

on:
  push:

jobs:
  check-status:
    runs-on: ubuntu-latest
    steps:
      - name: Curl Maven Central Status Check
        run: |
          curl -u "${{ secrets.MAVEN_CENTRAL_TOKEN_USER }}:${{ secrets.MAVEN_CENTRAL_TOKEN_PASSWORD }}" \
            https://central.sonatype.com/api/v1/publisher/status

      - name: Validate signing secrets
        shell: bash
        env:
          SIGNING_KEY_BASE64: ${{ secrets.SIGNING_KEY_BASE64 }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
        run: |
          if [[ -z "$SIGNING_KEY_BASE64" ]]; then
          echo "SIGNING_KEY_BASE64empty"
          exit 1
          fi

          if [[ -z "$SIGNING_PASSWORD" ]]; then
            echo "SIGNING_PASSWORD empty"
            exit 1
          fi
